doctype
head
	title Social Graph
	meta(charset='utf-8')
body
	.container
		h1 Social Graph
		p  Lom ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsa nemo ullam, consequuntur repellat quidem consequatur est assumenda fugiat eveniet.